<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agrisure{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Logo in the corner -->
    <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Agrisure Logo">
    </div>

    <!-- Page Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
